.searchBar {
	display: flex;
	align-items: center;
	// width: 301.875px;
	height: 36px;
	border-radius: 20px;
	background-color: #616161;
	> img {
		margin: 10px 0 10px 15px;
	}
	> input {
		flex: 1;
		margin: 0 15px 1px 15px;
		background: none;
		border: none;
		color: white;
		font-size: 14px;
		outline: none;
	}
	> input::placeholder {
		color: white;
		font-style: italic;
	}
}
