@import './variables.scss';

html {
	box-sizing: border-box;
	// font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
	// 	Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	// background-color: $color-dark-primary;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: 'Open Sans', sans-serif;
}

ul,
li,
h1,
h2,
h3,
p,
button {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
button {
	background: transparent;
	border: 0;
	outline: 0;
}

body {
	display: flex;
	// width: 100vw;
	max-width: 500px;
	height: 100vh;
	margin: auto;
	padding: 0;
	background-color: $color-dark-primary;
	overscroll-behavior: none;
	font-family: var(--font-family);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

#__next {
	display: flex;
	height: 100vh;
	width: 100vw;
}
