//? ////////// COLORS ///////////// ?//
$color-primary: #d32f2f;
$color-secondary: #d32f2f;
$color-dark-primary: #121212;
$color-dar-secondary: #1d1d1d;
$color-pass-dark: #00701a;
$color-pass-normal: #43a047;
$color-pass-light: #43a047;
$color-error-dark: #ab000d;
$color-error-normal: #e53935;
$color-error-light: #e53935;
$color-warning-dark: #c25e00;
$color-warning-normal: #fb8c00;
$color-warning-light: #ffbd45;

//? ////////// FONTS ///////////// ?//
$font-weight-text: 300;
$font-weight-title: 800;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 18px;

//? ////////// MARGINS ///////////// ?//
$margin-xs: 12px;
$margin-s: 24px;
$margin-m: 36px;
$margin-l: 42px;
$margin-xl: 64px;

//? ////////// BORDERS ///////////// ?//
$border-radius-s: 6px;
$border-radius-m: 10px;
$border-radius-l: 25px;
