.descriptionItem {
	display: flex;
	justify-content: center;
	align-items: center;
	> img {
		margin-right: 14px;
	}
	> div {
		> p:first-child {
			font-size: 16px;
			font-weight: bold;
		}
		> p {
			font-size: 14px;
		}
	}
}
